<ul class="navbar-nav text-center">
    <li class="nav-item">
        <a [routerLink]="['/admin', 'dashboard']" routerLinkActive="active" class="nav-link">
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/admin', 'approve']" routerLinkActive="active" class="nav-link">
            Approve
        </a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/admin', 'transactions']" routerLinkActive="active" class="nav-link">
            Transactions
        </a>
    </li>
</ul>