<div class="container" [ngClass]="loading?'loading':''">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="card" *ngIf="request; else noRequest;">
                <img [src]="request.screenshot" class="card-img-top">
                <div class="card-body">
                    <h1 class="card-title">
                        {{ request.userTitle }}
                    </h1>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td>Mobile Number</td>
                                <td>{{ request.mobile }}</td>
                            </tr>
                            <tr>
                                <td>Posted On</td>
                                <td>{{ request.postedOn | date:'dd-MMM'}}</td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td>{{ request.amount | number:'1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btn-group w-100 mt-3">
                        <div class="btn btn-success" (click)="onApprove()">Approve</div>
                        <div class="btn btn-danger" (click)="onReject()">Reject</div>
                    </div>
                </div>
            </div>

            <ng-template #noRequest>
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            No Pay-In Request
                        </h1>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>