<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="card" [ngClass]="loading ? 'loading' : ''">
                <div class="card-body">
                    <h4>Request Payout</h4>
                    <p>Instructions : Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, veniam aspernatur sapiente delectus necessitatibus facilis ullam officia corporis velit doloremque qui consectetur illo exercitationem laudantium veritatis
                        harum. Vero, tenetur esse.</p>
                    <mat-form-field appearance="outline" class="d-block w-100 mb-3">
                        <mat-label>Amount</mat-label>
                        <input matInput type="number" name="amount" [formControl]="amount" required>
                        <mat-error *ngIf="amount.errors && amount.errors.required">
                            Please Enter an Amount.
                        </mat-error>
                        <mat-error *ngIf="amount.errors && amount.errors.min">
                            Minimum Amount of Rs. 10 is Required.
                        </mat-error>
                    </mat-form-field>

                    <button class="w-100" type="button" mat-stroked-button color="primary" (click)="onSubmit()">
                        Send Withdrawal Request
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>