<div [ngClass]="loading ? 'loading': ''">
    <div class="text-center">
        {{ challenge.stitle }} has issued a Challenge for
        <strong>{{ challenge.amount }}</strong>
    </div>

    <button (click)="onAccept()" class="btn btn-success d-block mt-3 w-100" *ngIf="showAcceptBtn()">
        Accept
    </button>

    <button class="btn btn-danger d-block mt-3 w-100" *ngIf="!isActive() && showRejectBtn()" (click)="onReject()">
        Reject
    </button>


    <div class="input-group mt-3" *ngIf="showRoomInput()">
        <input [readOnly]="!isMine()" type="text" class="form-control" [formControl]="roomCode" placeholder="Enter Room Code">
        <div class="input-group-append">
            <button (click)="onSaveRoom()" class="btn btn-outline-secondary" type="button" [disabled]="!isMine()">
                Save Room
            </button>
        </div>
    </div>

    <button mat-stroked-button color="link" class="text-center d-block w-100 rounded" *ngIf="isActive()" [cdkCopyToClipboard]="challenge.room">
        Accepted By - {{ challenge.rtitle }} <br> Room Code - <strong class="text-uppercase">{{ challenge.room }}</strong>
        <br> <small>Click Here To Copy Room Code</small>
    </button>

    <button class="btn btn-success d-block mt-2 w-100" *ngIf="isActive()" [routerLink]="['/player', 'result', challenge.id]">
        Claim Victory
    </button>

</div>
