<div class="row">
	<div class="col">
		<form>
			<div class="form-group">
				<label>Enter Amount</label>
				<input
					type="number"
					class="form-control"
					name="amount" />
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="col">
		<ul class="list-group">
			<li class="list-group-item">
				Amount : 1000
				<button class="btn btn-primary mr-1">Accept</button>
				<button class="btn btn-primary mr-1">Share Game Code</button>
				<button class="btn btn-primary mr-1">Post Result</button>

				<div class="game-code-panel">
					<form>
						<div class="form-group">
							<label>Game Code</label>
							<input type="text" class="form-group" name="gamecode" />
						</div>
					</form>
				</div>
			</li>
		</ul>
	</div>
</div>
