<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-4 col-md-6">
			<div class="card">
				<h1 class="card-header text-center">Refer &amp; Earn</h1>
				<div class="card-body">
					<p class="text-center">You can Refer Ludo Junction and <strong>Earn 1.5%</strong> of Referral Winning, every time.</p>
					<p class="text-center">For Example: <br> If Your Player Plays for Rs. 10000 and wins, you will get Rs. 150 as Referral Amount.</p>
					<p style="font-size: large" >Click Here to Share Your Referal Link</p>
					<a 
					[href]="myReferalLink"
						 [cdkCopyToClipboard]="sharableLink"
						class="btn btn-success w-100 mt-3">
						Share
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
