<ul class="navbar-nav text-center">
    <li class="nav-item">
        <a [routerLink]="['/player', 'play']" routerLinkActive="active" class="nav-link">
            Play
        </a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/player', 'dashboard']" routerLinkActive="active" class="nav-link">
            Dashboard
        </a>
    </li>
    <li class="nav-item"><a [routerLink]="['/player', 'dashboard', 'pay-in']" class="nav-link">Buy Chips</a></li>
    <li class="nav-item"><a [routerLink]="['/player', 'dashboard', 'pay-out']" class="nav-link">Sell Chips</a></li>
    <li class="nav-item">
        <a [routerLink]="['/player', 'transactions']" routerLinkActive="active" class="nav-link">
            Transactions
        </a>
    </li>
		<li class="nav-item">
			<a [routerLink]="['player', 'refer']" routerLinkActive="active" class="nav-link">Refer &amp; Earn</a>
		</li>
</ul>
