<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="signIn" routerLinkActive="active">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="signUp" routerLinkActive="active">Sign Up</a>
                </li>
            </ul>
            <div class="card flat-top">
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>