<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="card" *ngIf="request; else noRequest;">
                <div class="card-body">
                    <h1 class="card-title">
                        {{ request.userTitle }}
                    </h1>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td>Mobile Number</td>
                                <td>{{ request.mobile }}</td>
                            </tr>
                            <tr>
                                <td>Posted On</td>
                                <td>{{ request.postedOn | date:'dd-MMM'}}</td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td>{{ request.amount | number:'1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <mat-form-field class="w-100 mt-3" appearance="outline">
                        <mat-label for="comment">Comment</mat-label>
                        <textarea [(ngModel)]="comment" matInput></textarea>
                    </mat-form-field>

                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="screenshot" #screenshot (change)="onImageSelected()" accept="image/*">
                            <label class="custom-file-label" for="screenshot">Attach Screenshot</label>
                        </div>
                    </div>

                    <div class="btn-group w-100 mt-3">
                        <div class="btn btn-success" (click)="onApprove()">Approve</div>
                        <div class="btn btn-danger" (click)="onReject()">Reject</div>
                    </div>
                </div>
            </div>

            <div class="mt-3" *ngIf="request && request.screenshot">
                <div class="card">
                    <img [src]="request.screenshot" class="card-img-top" alt="">
                    <div class="card-body">
                        Request For Amount {{ request.amount | number:'1.2-2' }}
                    </div>
                </div>
            </div>

            <ng-template #noRequest>
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            No Pay-In Request
                        </h1>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>