

@media only screen and (max-width: 980px) {
    .nav-item{
        border: 1px solid rgba(199, 194, 194, 0.411);
        margin: 0.5px;
        border-radius: 10px;
        text-align: center  ;
    }
  }