<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" [ngClass]="loading ? 'loading' : ''">
    <h2>Register Yourself</h2>
    <hr>
    <section>
        <mat-form-field class="d-block mt-3">
            <mat-label>Full Name</mat-label>
            <input matInput type="text" name="title" formControlName="title" />
            <mat-error *ngIf="title.touched && !title.valid">
                Please Enter Your Full Name
            </mat-error>
        </mat-form-field>

        <mat-form-field class="d-block mt-3">
            <mat-label>
                Mobile
            </mat-label>
            <input matInput type="tel" name="mobile" formControlName="mobile" />
            <mat-error *ngIf="mobile.errors && mobile.errors.required">Please Provide Mobile Number.</mat-error>
            <mat-error *ngIf="mobile.errors && mobile.errors.pattern">Invalid Mobile Number</mat-error>
        </mat-form-field>

        <mat-form-field class="d-block mt-3">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" formControlName="email" />
            <mat-error *ngIf="email.errors && email.errors.email">Please Enter Valid Email Address</mat-error>
            <mat-error *ngIf="email.errors && email.errors.emailIsNotAvailable">
                Email Already Registered
            </mat-error>
            <mat-error *ngIf="email.errors && email.errors.required">
                Please Enter Email Address
            </mat-error>
        </mat-form-field>

        <mat-form-field class="d-block mt-3">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" formControlName="password" />
            <mat-error *ngIf="!password.valid && password.touched">
                Please Enter Password
            </mat-error>
        </mat-form-field>
    </section>

    <div class="form-check mt-3">
        <input type="checkbox" name="agree" class="form-check-input" formControlName="agree">
        <label for="agree" class="form-check-label text-justify" [ngClass]="agree.touched && !agree.valid ? 'text-danger' : ''">
            I Agree that I am 18 years or older and not a resident of Telangana, Assam, Orissa, Kerala, Sikkim or
            Nagaland.
        </label>
    </div>


    <section class="mt-3">
        <button mat-flat-button color="primary" class="btn btn-primary mr-2" type="submit" [disabled]="signUpForm.invalid">
        Submit
    </button>
        <button mat-flat-button color="danger" class="btn btn-danger" type="reset">Reset</button>
    </section>
</form>