<form [formGroup]="forgotPageForm" (ngSubmit)="onSubmit()" [ngClass]="loading?'loading':''">

    <div class="card-body">
        <h1 class="text-center">Reset Password</h1>
        <div class="alert alert-danger">
            Please Note You will be able to reset password only if your Email Is Resitered with us. If Not Please Contact Administrator for Password Recovery.
        </div>
        <mat-form-field class="d-block w-100 mb-3" required>
            <mat-label>Mobile Number</mat-label>
            <input matInput type="text" formControlName="mobile">
            <mat-error *ngIf="mobile.hasError('pattern')">
                Invalid Mobile Number
            </mat-error>
            <mat-error *ngIf="mobile.hasError('required')">
                Please Provide Mobile Number.
            </mat-error>
        </mat-form-field>

        <button (click)="onSendOtp()" type="button" class="btn w-100" mat-stroked-button color="secondary">
			Send OTP
		</button>

        <section *ngIf="otpSent">

            <div class="alert alert-success d-block w-100 mb-1">
                Please Check Your eMail ID For OTP
            </div>

            <mat-form-field class="d-block w-100 mb-3" required>
                <mat-label>OTP</mat-label>
                <input matInput type="text" maxlength="6" formControlName="otp" />
                <mat-error *ngIf="otp.hasError('required')">Please Enter OTP</mat-error>
            </mat-form-field>

            <mat-form-field class="d-block w-100 mb-3" required>
                <mat-label>New Password</mat-label>
                <input type="text matInput formControlName=" password " />
				<mat-error *ngIf="password.hasError( 'required') ">
						Please Enter Password.
				</mat-error>
			</mat-form-field>
	

			<button type="submit " mat-raised-button color="primary " class="btn ">
				Submit
			</button>
		</section>
		</div>
</form>