<div class="d-lg-none mt-3"></div>
<div *ngIf="challenges.length > 0; else noChallenge;">
    <h3>Available Challenges</h3>
    <div class="list-group">
        <div [@item] class="list-group-item" *ngFor="let challenge of challenges">
            <app-challenge-list-item [challenge]="challenge"></app-challenge-list-item>
        </div>
    </div>
</div>
<ng-template #noChallenge>
    <div class="card">
        <div class="card-body">
            Sorry No Challenge Are Currently Available.
        </div>
    </div>
</ng-template>
