<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="h4">Request</div>
                    <p>Instructions : Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid sed, esse dolor sint rerum est! Tenetur ipsam aspernatur labore assumenda eveniet libero, explicabo consequatur, ea cum, perferendis obcaecati molestiae
                        suscipit?
                    </p>

                    <mat-form-field class="d-block w-100" appearance="fill">
                        <mat-label>
                            Enter Amount
                        </mat-label>
                        <input matInput type="number" min="100" step="10" [formControl]="amount" required>
                    </mat-form-field>

                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile04" #screenShot (change)="onImageSelected()" accept="image/*">
                            <label class="custom-file-label" for="inputGroupFile04">Attach Screenshot</label>
                        </div>
                    </div>

                    <button (click)="onSubmit()" type="submit" mat-stroked-button color="primary" class="d-block w-100 mt-3">Send Request</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-6" *ngIf="image">
            <div class="card">
                <img [src]="image" class="card-img-top" alt="">
                <div class="card-body">
                    Request For Amount {{ amount.value }}
                </div>
            </div>
        </div>
    </div>
</div>