<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6" [ngClass]="loading ? 'loading': ''">
            <div class="card" *ngIf="pageState === ASK_PASSWORD">
                <div class="card-header">
                    Reset Password
                </div>
                <form class="card-body" (ngSubmit)="onSubmit()" [formGroup]="resetForm">
                    <section>
                        <mat-form-field class="d-block mb-3">
                            <mat-label>Mobile Number</mat-label>
                            <input type="text" name="mobile" formControlName="mobile" matInput required>
                            <mat-error *ngIf="mobile.hasError('pattern')">
                                Invalid Mobile Number
                            </mat-error>
                            <mat-error *ngIf="mobile.hasError('mobileNotAvailable')">
                                Mobile Not Registered
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="d-block mb-3">
                            <mat-label>Password</mat-label>
                            <input type="text" name="password" formControlName="password" matInput required>
                        </mat-form-field>
                    </section>

                    <section [ngClass]="mobile.status === 'PENDING' ? 'loading' : ''">
                        <button type="submit" mat-raised-button color="primary" class="btn mr-2" [disabled]="resetForm.invalid">
                            Preview
                        </button>
                        <button type="reset" mat-raised-button color="warn" class="btn">
                            Reset
                        </button>
                    </section>
                </form>
            </div>
            <div class="card" *ngIf="pageState === SHOW_PREVIEW">
                <div class="card-header">
                    Preview
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Full Name</th>
                                <td>{{ userName }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Mobile</th>
                                <td class="text-left">{{ mobile.value }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Password</th>
                                <td class="text-left">{{ password.value }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <section>
                        <button type="button" mat-raised-button color="primary" class="btn mr-1" (click)="onChangePassword()">Submit</button>
                        <button type="button" mat-raised-button color="accent" class="btn" (click)="pageState = ASK_PASSWORD">
                            
                            Go Back
                        </button>
                    </section>
                </div>
            </div>

            <div class="card" *ngIf="pageState === SHOW_RESULT">
                <div class="card-header">
                    Password Changed Success
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{ userName }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Mobile</th>
                                <td>{{ mobile.value }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Password</th>
                                <td>{{ password.value }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <button mat-stroked-button color="link" class="btn mt-3 w-100" (click)="resetForm.reset();pageState=ASK_PASSWORD">
                        Go Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>